<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giriş Yap</title>
  <link rel="stylesheet" href="../../static/ARWebProject/loginstyle.css">
</head>

<body>
  {% if messages %}
  {% for message in messages %}
  <div class="message">{{ message }}</div>
  {% endfor %}
  {% endif %}
  <div class="login-box">
    <p>Giriş Yap</p>
    <form method="post" action="http://127.0.0.1:8000/login/">
      {% csrf_token %}
      <div class="user-box">
        <input required="" name="email" type="text">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input required="" name="sifre" type="password">
        <label>Şifre</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Giriş Yap
      </button>
    </form>
    <p>Hesabın Yok mu? <a href="/register" class="a2">Kayıt Ol!</a></p>
  </div>
</body>

</html>